.container {
    width: 100%;
    height: 100vh;
    /*overflow-y: visible;*/
    /*scroll-snap-type: y mandatory;*/
}

.bk {
    width: 100%;
    min-height: 100vh;
    background-image: url("@/assets/images/bk.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bk p {
    padding: 0;
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin: 0 auto;
    animation-duration: 2.5s;
    color: rgba(248, 40, 127, 0.99);
}

/*.s {*/
/*  scroll-snap-align: end;*/
/*}*/

/*外围粉色背景覆盖*/
.father {
    width: 100%;
    background-color: #f9b1b1;
    padding: 2% 0;
}

.out {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 88%;
}

.news{
    height: 300px;
    margin: 2% 2%;
    background-color: #faf8f8;
    border-radius: 18px;
    animation-duration: 2s;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin: 2% 2%;
}

.father .left {
    width: 25%;
    min-height: 100vh;
}
.father .right{
    width: 70%;
    /*border: 1px solid red;*/
}
.hot {
    height: 425px;
    margin: 2% 2%;
    background:rgba(255,255,255,0);
    border-radius: 15px;
    animation-duration: 2s;
}

/*.animated {*/
/*    animation-duration: 3s;*/
/*}*/

.webInfo {
    width: 80%;
    height: 400px;
    margin: 5% auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-duration: 1.5s;
    background:url("@/assets/images/dm11.png");
    background-attachment: fixed;

}

.webInfo button{
    margin-top: 7%;
}
.weather-info{
    width: 80%;
    animation-duration: 1.5s;
    margin: 10px auto;
}
.webInfo p{
    text-align: center;
}

.info-title, .info-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-size: 20px;
}

.title-item, .number-item {
    text-align: center;
    flex: 0 0 30%;
}
.webInfo button {
    background: linear-gradient(45deg, transparent 27%, #fd1853 5%, #fd1853 73%, transparent 27%);
    box-shadow: 6px 0px 0px #00e6f6;
    position: relative;
    padding: 12px 35px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: 3px solid #00e6f6;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
}

.ccc{
    width: 80%;
    height: 400px;
    margin: 5% auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-duration: 1.5s;
    background: white;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fd1853);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fd1853);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fd1853);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fd1853);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fd1853);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fd1853);
    z-index: -5;
    transition: all .8s ease;
}

.webInfo button:hover {
    background: transparent;
    color: #00e6f6;
    box-shadow: 0 0 50px #fd1853;
}

.webInfo button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fd1853);
    z-index: 2;
}

.webInfo button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fd1853);
    z-index: 2;
}

.webInfo button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fd1853);
    z-index: 2;
}

.webInfo button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fd1853);
    z-index: 2;
}

.webInfo button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fd1853);
    z-index: 2;
}

.webInfo button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fd1853);
    z-index: 2;
}



.fil0 {
    fill: #fd1853
}

.a{

}


