.tags-out{
    width: 100%;
    background-size: cover;
    background: url("../../images/tag.jpg") no-repeat;
    overflow: hidden;
}
.tags-content{
    height: 80vh;
    width: 60%;
    border: 1px solid;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 3%;
}
.tag-cloud{
    height: 40vh;
    width: 40%;
    margin: 0 auto;
}
.tags-count{
    width: 90%;
    margin: 3% auto;
    align-items: center;
}
.tags-count ul li{
    list-style: countstyle;
    display: inline-block;
    margin: 1% 1%;
}
.tags-count ul li span:nth-child(1){
    font-size: 20px;
}
.tags-count ul li span:nth-child(2){
    font-size: 18px;
    color: #da7ac0;
}
