.type-out {
    background-size: cover;
    background: url("../../images/type.jpg");
    overflow: hidden;
}

.type-top {
    background-color: white;
    border-radius: 14px;
    min-height: 30vh;
}

.type-top p {
    margin: 0;
    padding: 1%;
}

.type-content {
    width: 55%;
    margin: 0 auto;
    margin-bottom: 4%;
}

.type-content p:first-child {
    font-size: 20px;
}

.type-show {
    display: flex;
    flex-flow: wrap;
    padding: 1%;
}

.type-card {
    flex: 0 0 14.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid;
    margin: 5px 10px;
    height: 5vh;
    cursor: pointer;
}


.type-card-left {
    flex: 5;
    display: flex;
    align-items: center;
    border-right: 1px solid;
    justify-content: center;
    height: 100%;
}

.type-card-right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.type-article {
    width: 80%;
    margin: 5% auto;
    background-color: white;
    border-radius: 14px;
    padding: 2%;
}

.card-active {
    background-color: #ff937c;
}

.card-active .type-card-left {
    background-color: #ff937c;
}