:root{
    --color:red;
    --fontStyle:'ha';
}
@font-face {
    font-family: 'luyys';/*这里属性值可以自定义,用的时候和定义的一致即可*/
    src: url('HanYiYanKaiW-2.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
